{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="text-color">About</h2>
            <hr class="w-50 mb-1 mx-auto text-color">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="text-color mt-lg-5">Welcome to the Croatian Food Shop. We are a family run store based in
                Dublin offering a wide range of traditional Croatian products.
                Our mission is to ensure you have everything you need to make all of your favourite Croatian dishes.
                We deliver straight to your door and offer all the brands you grew up with.
                Thank you for shopping with us and we hope you enjoy a little taste of home.
            </p>
        </div>
        <div class="col-12 col-lg-6 text-center">
            <img class="about-image"
                src="/media/kisspng-croatia-vector-map-rijeka-5b0529cf837750.7105387215270650395385.png"
                alt="croatia-map">
        </div>
    </div>
</div>
{% endblock %}