{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="text-color">Deliveries & Returns</h2>
            <hr class="w-50 mb-1 mx-auto text-color">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4 class="text-color">Delivery <span class="text-color"><i class="fas fa-truck"></i></span></h4>
            <p class="text-color">
                We offer nationwide delivery 7 days a week and all orders are processed within 2 working days. 
                Shipping charges are calculated at checkout. <br>

                We offer free delivery on all orders over €50, all other orders are charged at 10% of your total shop.
                </p>
            <h4 class="text-color">Returns <span class="text-color"><i class="fas fa-arrow-left"></i></span></h4>
            <p class="text-color">
                If you are not entirely satisfied with an item, we are happy to offer a replacement or refund. 
                You have 14 days to return an item from the date you receive your order <br>

                Any item being returned must be in its original packaging and in the same condition as you received it. 
                We require proof of purchase for any item being returned. <br>

                Please email us at info@thecroatianfoodshop.ie for all queries.

            </p>
        </div>
    </div>
</div>
{% endblock %}