{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="border-bottom-site text-color">Shopping Cart</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if cart_items %}
            <div class="d-block d-md-none">
                <div class="row">
                    <div class="col">
                        {% include "checkout/cart-total.html" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% include "checkout/purchase-buttons.html" %}
                        <p class="text-color mb-5">A summary of your bag contents is below:</p>
                    </div>
                </div>
                {% for item in cart_items %}
                <div class="row">
                    <div class="col-12 col-sm-6 mb-2 text-center">
                        {% include "checkout/product-image.html" %}
                    </div>
                    <div class="col-12 col-sm-6 mb-2 text-center text-sm-start">
                        {% include "checkout/product-info.html" %}
                    </div>
                    <div class="col-12 col-sm-6 order-sm-last text-center text-sm-start">
                        <p class="my-0 text-color">Price Each: € {{ item.product.price }}</p>
                        <p class="my-0 text-color">Subtotal: € {{ item.subtotal }}</p>
                    </div>
                    <div class="col-12 col-sm-6 text-center text-sm-start">
                        {% include "checkout/quantity-form.html" %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <hr>
                    </div>
                </div>
                {% endfor %}
                <div class="btn btn-danger btn-small" id="back-to-top">
                    <i class="fas fa-arrow-up"></i>
                </div>
            </div>
            <div class="table-responsive d-none d-md-block">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th class="text-color" scope="col">Product Info</th>
                            <th class="text-color" scope="col"></th>
                            <th class="text-color" scope="col">Price</th>
                            <th class="text-color" scope="col">Qty</th>
                            <th class="text-color" scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in cart_items %}

                    <tr>
                        <td>
                            <a href="{% url 'product_details' item.item_id %}">
                                {% include "checkout/product-image.html" %}
                            </a>
                        </td>
                        <td>
                            {% include "checkout/product-info.html" %}
                        </td>
                        <td>
                            <p class="my-0 text-color">€ {{ item.product.price }}</p>
                        </td>
                        <td>
                            {% include "checkout/quantity-form.html" %}
                        </td>
                        <td>
                            <p class="my-0 text-color">€ {{ item.subtotal }}</p>
                        </td>
                    </tr>

                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-5 text-end">
                            {% include "checkout/cart-total.html" %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-end">
                            {% include "checkout/purchase-buttons.html" %}
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <p class="lead">Your cart is empty.</p>
            <a href="{% url 'shop' %}" class="btn btn-lg btn-danger">
                <span>
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% include 'products/includes/quantity_input_script.html' %}

<script>

    $('.update-link').click(function (e) {
        let form = $(this).prev('.update-form');
        form.submit();
    });

    $('.remove-item').click(function (e) {
        let csrfToken = "{{csrf_token}}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let url = `/checkout/remove/${itemId}/`;
        let data = { 'csrfmiddlewaretoken': csrfToken };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    });
</script>

<script>
    $('#back-to-top').click(function (e) {
        window.scrollTo(0, 0);
    });
</script>

{% endblock %}