@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* -------------- SITE WIDE CSS ------------- */

html {
    height: 100%;
}

body {
    height: calc(100vh - 250x);
    background-color: #00a8e8;
    font-family: 'Roboto';
}

.header-container {
    padding-top: 250px;
}

.text-color,
.text-color li,
.text-color li a {
    color: #fff !important;
}

.main-heading-color {
    background-color: #00171f;
}

.sub-heading-color {
    background-color: #003459;
}

.sub-heading-color a:hover {
    background-color: #007ea7;
}

.btn-outline-site {
    border-width: 1px;
    border-color: #00171f;
    border-style: solid;
}

/* ---------------- BOOTSTRAP OVERRIDE CSS -------------- */

.border-bottom-site {
    border-bottom: 1px solid #00171f;
}

/* ---------------- HOME PAGE CSS -------------- */

.carousel-image {
    width: 50%;
    margin: auto;
}


/* ---------------- PRODUCTS PAGES CSS -------------- */

.active-category {
    background-color: #007ea7;
}

.image-container {
    background-color: #fff !important;
}

.categories-list {
    background-color: #003459;
}

.categories-list a li:hover {
    background-color: #007ea7;
}

.categories-list a,
.categories-list a:hover {
    color: #fff;
    text-decoration: none;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    cursor: pointer;
}

/* ---------------- CHECKOUT PAGE CSS -------------- */

.checkout-image {
    width: 20vh;
}

.update-link,
.remove-item {
    cursor: pointer;
    text-decoration: none;
}

/* ---------------- MEDIA QUERIES -------------- */

@media (max-width: 992px) {
    .header-container {
        padding-top: 200px;
    }

    .checkout-image {
        width: 10vh;
    }
}