@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* -------------- SITE WIDE CSS ------------- */

html {
    height: 100%;
}

body {
    height: calc(100vh - 250x);
    background-color: #00a8e8;
    font-family: 'Roboto';
}

.header-container {
    padding-top: 250px;
}

.text-color,
.text-color li,
.text-color li a {
    color: #fff !important;
}

.main-heading-color {
    background-color: #00171f;
}

.sub-heading-color {
    background-color: #003459;
}

/* ---------------- HOME PAGE CSS -------------- */

.carousel-image {
    width: 50%;
    margin: auto;
}



/* ---------------- MEDIA QUERIES -------------- */

@media (max-width: 992px) {
    .header-container {
        padding-top: 200px;
    }
}