{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container mt-1 mt-lg-5 mb-2">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            {% if request.user.is_superuser %}
            <div class="row">
                <div class="col">
                    <small>
                        <a href="{% url 'edit_product' product.id %}">Edit Product</a> | 
                        <a href="{% url 'delete_product' product.id %}" class="text-danger">Delete Product</a>
                    </small>
                </div>
            </div>
            {% endif %}
            <p class="mb-0"><strong>{{ product.name }}</strong></p>
            <p class="mb-0">{{ product.manufacturer.friendly_name }}</p>
            <p class="lead mb-0 text-start font-weight-bold">€ {{ product.price }}</p>
            <p class="mt-3">{{ product.description }}</p>
            <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12">
                        <p class="mt-3"><strong>Quantity:</strong>{% if cart_product_quantity %} {{cart_product_quantity}} currently in cart. Add more below.{% endif %}</p>
                        <div class="form-group w-50">

                            <!-- Quantity selector -->
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="decrement-qty btn sub-heading-color text-color" data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                        <span>
                                            <i class="fas fa-minus"></i>
                                        </span>
                                    </button>
                                </div>
                                <input type="number" class="form-control qty-input" name="quantity" value="1" min="1"
                                    max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                <div class="input-group-append">
                                    <button class="increment-qty btn sub-heading-color text-color" data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                        <span>
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <a href="{% url 'shop' %}" class="btn btn-danger mt-5">
                            <span>
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Shopping</span>
                        </a>
                        <input type="submit" class="btn btn-site text-uppercase mt-5 sub-heading-color text-color" value="Add to Cart">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% include 'products/includes/quantity_input_script.html' %}

{% endblock %}