{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container">
    <!-- PAGE TITLE -->
    <div class="row">
        <div class="col text-center">
            <h2 class="text-color">Shop</h2>
            <hr class="w-50 mb-1 mx-auto text-color">
        </div>
    </div>
    <div class="row">

        <!-- Categories side menu -->
        <div class="col-12 col-lg-3 d-none d-lg-block">
            <div class="row w-100 mt-3">
                <div class="col sub-heading-color mt-3 px-0">
                    <h2 class="text-color px-3 pt-3">Categories</h2>
                    <ul class="list-unstyled categories-list">
                        <a href="{% url 'shop' %}"><li class="px-3 py-1">All Items</li></a>
                        {% for category in categories %}
                        <a href="{% url 'shop' %}?category={{category.id}}"><li class="px-3 py-1">{{category.friendly_name}}</li></a>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- Product container displaying products -->
        <div class="col-12 col-lg-9 product-container">


            <!-- Sub header between title and products -->
            <div class="row mt-3">
                <div class="col-6">
                    {% if current_category %}
                    <h4 class="text-color text-logo">{{ products_count }} products in {{ current_category.friendly_name }}</h4>
                    {% else %}
                    <h4 class="text-color text-logo">{{products_count}} products in All Products</h4>
                    {% endif %}
                </div>
                <div class="col-6 text-end">
                    <select name="sort-selector" id="sort-dropdown" aria-label="sort-selector">
                        <option value=""  {% if not product_sort %}selected{% endif %}>Sort by...</option>
                        <option value="price_asc" {% if product_sort == "price_asc" %}selected{% endif %} >By Price (low-high)</option>
                        <option value="price_desc" {% if product_sort == "-price_desc" %}selected{% endif %} >By Price (high-low)</option>
                        <option value="manufacturer_asc" {% if product_sort == "manufacturer_asc" %}selected{% endif %}>By Manufacturer (a-z)</option>
                        <option value="manufacturer_desc" {% if product_sort == "-manufacturer_desc" %}selected{% endif %}>By Manufacturer (z-a)</option>
                        <option value="name_asc" {% if product_sort == "name_asc" %}selected{% endif %}>A-Z</option>
                        <option value="name_desc" {% if product_sort == "-name_desc" %}selected{% endif %}>Z-A</option>
                    </select>
                </div>
            </div>

            <!-- Products container -->
            <div class="row">
                <!-- If there are no products the page will
                    inform the user that there are no products
                    and offer to take the user back to the shop. -->
                {% if products_count == 0 %}
                <div class="col">
                    <h5>There are no products here</h5>
                    <a href="{% url 'shop' %}" class="btn btn-danger">Return to Shop</a>
                </div>
                {% endif %}
                {% for product in products %}
                <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                    <div class="card h-100 border-1">
                        {% if product.image %}
                        <a href="{% url 'product_details' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_details' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0 sub-heading-color">
                            <p class="mb-0 text-color pb-1 border-bottom"><strong>{{ product.name }}</strong></p>
                            <p class="mb-0 text-color">{{ product.manufacturer.friendly_name }}</p>

                        </div>
                        <div class="card-footer sub-heading-color pt-0 border-0 text-start">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-start font-weight-bold text-color">€ {{product.price}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a href="{% url 'shop' %}?category={{product.category.id}}">
                                        <p class="badge bg-danger text-wrap mb-0 text-start text-color">
                                            {{product.category.friendly_name}}</p>
                                    </a>
                                </div>
                            </div>
                            {% if request.user.is_superuser %}
                            <div class="row">
                                <div class="col">
                                    <small>
                                        <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                        <a href="{% url 'delete_product' product.id %}" class="text-danger">Delete</a>
                                    </small>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="btn btn-danger btn-small" id="back-to-top">
    <i class="fas fa-arrow-up"></i>
</div>
{% endblock %}

{% block postloadjs %}
{{block.super}}
<script type="text/javascript">
    $('#back-to-top').click(function(e) {
        window.scrollTo(0,0)
    })
</script>

<script type="text/javascript">
    $('#sort-dropdown').change(function() {
        // sets the change to a variable
        let selector = $(this);
        // gets the current URL
        let currentUrl = new URL(window.location);
        // gets the value of the current selection        
        let selectedVal = selector.val();
        if (selectedVal != "") {
            // splits the sorting value to get the sort order by
            let sort = selectedVal.split("_")[0];
            // splits the sorting value to get the direction
            let direction = selectedVal.split("_")[1];
            // sets the search parameters in the URL
            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);
            // Replaces the URL in the window with the new URL with search parameters
            window.location.replace(currentUrl);
        }
        
        
    })
</script>
{% endblock %}