{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2 class="text-color">Shop</h2>
            <hr class="w-50 mb-1 mx-auto text-color">
        </div>
    </div>
    <div class="row">
        <div class="col product-container">
            <div class="row mt-3"></div>
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-md-4 col-lg-3 mt-3">
                    <div class="card h-100 border-1">
                        {% if product.image %}
                        <a href="{% url 'product_details' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="{% url 'product_details' product.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ product.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0 sub-heading-color">
                            <p class="mb-0 text-color pb-1 border-bottom"><strong>{{ product.name }}</strong></p>
                            <p class="mb-0 text-color">{{ product.manufacturer.friendly_name }}</p>

                        </div>
                        <div class="card-footer sub-heading-color pt-0 border-0 text-start">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-start font-weight-bold text-color">€ {{product.price}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <a href="{% url 'shop' %}?category={{product.category.id}}">
                                        <p class="badge bg-danger text-wrap mb-0 text-start text-color">{{product.category.friendly_name}}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}